/*----------------------------------------------------------------------------General-----------------------------------------------------------------------*/
/*Aqui colocaremos el color de fondo que queremos que haya en la pagina principal*/
body{
    /* background-color:#019BA5;*/
    background: linear-gradient(to bottom, #019ba5, #097961)
}
/*En este selector controlaremos los anchor, es decir, los hipervinculos para saltar a otras páginas*/
a{
    text-decoration: none;  /* Sin subrayado */
    color: black;            /* Color inicial */
}
/*Este será el footer que se mantendrá a lo largo de todas las paginas*/
.pie{
    display:inline-block;
    position:absolute;/*Lo usamos para colocarlo a nuestro gusto en la pagina*/
    right:0; /*Lo colocaremos a la derecha del todo*/
    margin-right: 10px; /*Le daremos un poco de espacio para que no se quede pegado a la pantalla*/
}
/*Selector para controlar los items de la unica lista que hay en la pagina principal*/
li{
    padding:5px;/*Espacio de separación entre items */
    display:inline; /*Convierte el elemento en linea para poder trabajar de manera horizontal*/
    margin-bottom: 10px;
}

/*-------------------------------------------------------------------------------------------Index----------------------------------------------------------------*/
/*Este selector cambiara como se comporta el texto cuando el usuario pase el ratón por encima*/
#Acceso_Blockbuster_index:hover,#Acceso_Cartelera_index:hover,#Acceso_Opinion_index:hover,#Acceso_Resenias_index:hover{
    transition: 0.3s;/*El tiempo que tardará en cambiar de color y estilo cuando el ratón pase por encima*/
    font-weight: 700;/*Pasará a negrita cuando el raton pase por encima*/
    font-family: arial;/*Estilo  al que cambiará el texto cuando pase el raton por encima*/
    color:#FAFAFA;/*Color al que cambiará el texto cuando pase el ratón por encima*/
}
#Acceso_Cartelera_index:visited,#Acceso_Opinion_index:visited,#Acceso_Blockbuster_index:visited,#Acceso_Resenias_index:visited{
    color:#FAFAFA;
}

#img_pareja,#img_amigos,#img_familia{

    height: 300px;/*La latura de la imagen*/
    width: 450px;/*EL ancho de la imagen*/
    margin-right: 25px; /*El espaciado que deberá haber a la derecha de cada foto*/
    margin-left: 25px;/*Espacio que habrá al lado izquierdo de cada foto*/
    border:3px solid white;/*Un borde para decorar las fotos (estético)*/
}
.Encabezado_index{
    text-align: center;
}
.bloque_index {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 150px;/*Tamaño del div*/
    text-align: center;/*Para que se quede centrado*/
}

#sub_imagen_index {
    padding: 10px;
    background-color: #D9534F;
    border: 2px solid white;
    border-radius: 15px;
}

/*Este selector de clase se usa para gestionar la lista y su contorno*/
.lista_index{
    border:2px solid white; /*El bordeado del texto con tamaño y color*/
    padding:10px; /*Espacio extra alrededor del texto para dar una mejor impresión estética*/
    margin: auto; /*Centra automaticamente el objeto en el centro de la pantalla*/
    margin-bottom: 50px;/*Espacio para que haya separacion entre los elementos*/
    width: 500px; /*Este sirve para ajustar el tamaño de la lista y que no se extralimite*/
    text-align: center; /*Alinea el texto en el centro de la "caja"*/
    background-color:#D9534F; /*Color de fondo de la la lista*/

}

.galeria_index{
    display:flex;/*Usamos el display:flex para poder modificar el contenedor y poder centrarlo en la pantalla*/
    justify-content: center;
}

#Nombre_Empresa{
    position:absolute;
    display:inline;/*Cambiamos el tipo a display para poder colocar al lado el logo de nuestra "empresa"*/
    font-size: 80px;
    margin-top: 0px;/*Centrar en el div para que se quede al mismo nivel que el logo*/
}
#Bienvenida{
    text-align:center;/*Centra el texto en la pantalla*/
    padding-bottom: 10px;/*Algo de espacio por abajo para dejar "respirar" el subtitulo(estético)*/
}

/*Selector para controlar la posición del logo*/

#logo_index{
    width:100px;
    height:100px;
    border:none;/*A pesar de que las img tienen el borde, gracias a la prioridad el logo no tendrá el cuadro blanco que tienen el resto de imagenes a su alrededor*/
    margin-left:670px;
}
.pie_index{
    position:absolute;
    bottom:0;
    right: 0;
    margin-right: 10px;
}




/*-----------------------------------------------------------------CARTELERA-----------------------------------------------------------------------------*/




.Encabezado_cartelera{
    font-size: 20px;
    text-align: center;
}
/*El imagotipo es la union de el componente grafico y texto de una marca,usaremos este div para gestionar que aparezca en todas las paginas*/
.imagotipo_cartelera{
    display:inline-block;/*Con estos hacemos que el contenedor ocupe solo el espacio "fisico" que realmente ocupa su texto+logo*/
    position:absolute;/*Con esto podemos decirle al imagotipo donde exactamente queremos que se integre*/
    right:10px;/*Lo integraremos a la derecha del todo para que se mantenga fijo ahí*/
}
/*Manipulamos la tabla para que se ajuste a nuestras preferencias de estilo*/
.tabla_cartelera{
    justify-content: center;
    text-align: center;
    width: 1200px;/*Un tamaño maximo de ancho de tabla para que no se expanda cuando seleccionamos una pelicula*/
    background-color: #D9534F;/*El color de fondo siguiendo la linea de estilo*/
    padding: 10px 20px 20px 20px; /*Espacio para que "respire" la tabla, va en orden: top,right,bottom,left*/
    margin: auto;/*Para que se centre el texto en la tabla*/
    display:flex;/*Esto permite que la tabla pueda moverse*/
    border:2px solid black;/*El borde que rodea la tabla*/

}
/*Controlamos las filas*/
.tabla_cartelera td{
    padding:10px;/*Espacio entre filas*/
    width: 200px;

}
/*Controlamos el head o encabezado de la tabla*/
.tabla_cartelera th{
    border-bottom:  2px solid black;/*Una linea con objetivo estético*/
}
/*Controlamos lo que ocurre cuando el usuario pasa el raton por encima*/
.tabla_cartelera tr:hover{
    font-weight: 700;/*Aumenta a negrita para que el usuario identifique bien la linea que está seleccionando y hacerlo mas intuitivo y práctico*/
}

#parrafo_cartelera{
    background-color:#FAFAFA;
    padding:10px;
    display:inline-block;
    border:2px solid black;
    width: 700px;
}
#img_pandorum_cartelera{
    border:2px solid white;
    height: 500px;
    float: left;
    margin-right:20px;
    width:400px;
}

#texto_imagotipo_cartelera{
    color:black;
    position:relative;/*Al colocar la posicion en "relative" nos permite modificar la altura del texto*/
    top:-10px;/*Colocaremos el texto algo más arriba para que quede centrado con el logo (estético)*/
    display:inline;/*Cambiamos a "inline" para que pueda seguir apareciendo elementos en la misma line y que el titulo de "Cartelera" no se quede muy abajo*/
}
#logo_imagotipo_cartelera{
    width:40px;/*Anchura*/
    height: 40px;/*Altura*/
}
/*Controla lo que ocurre cuanto se pasa el cursor por encima del logo del imagotipo*/
#imagotipo_enlace_cartelera:hover #logo_imagotipo_cartelera{
    transform:scale(1.2);/*Amplia el tamaño del logo en un 20%*/
}
/*Controla lo que ocurre cuanto se pasa el cursor por encima del texto del imagotipo*/
#imagotipo_enlace_cartelera:hover #texto_imagotipo_cartelera{
    font-size:20px;/*Amplia el tamaño del texto a 20 px*/
}
/*Aqui podemos controlar que cuando se visite el imagotipo no cambie de color ni se vea subrayado*/
#imagotipo_enlace_cartelera:visited {
    text-decoration: none; /* Mantiene el enlace sin subrayado después de visitarlo */
}
#peli_nombre_cartelera{
    font-size: 30px;
    display: inline-block;
    background-color: #D9534F;
    padding:10px;
    border:2px solid black;

}
#peli_datos_cartelera{
    display: inline-block;
    padding:10px;
    border:2px solid black;
    background-color: #FAFAFA;
}
#cuadro_cartelera{
    font-size: 15px;
    display: inline-block;
    background-color: #FAFAFA;
    padding:10px;
    border:2px solid black;
    border-radius:15px;
}
#cuadro_cartelera:hover{

    font-weight: 700;
}
#volver_cartelera{
    font-size: 15px;
    display: inline-block;
    background-color: #FAFAFA;
    padding:10px;
    border:2px solid black;
    border-radius:15px; /*Redondea el rectangulo para darle una mejora estética*/
}
#volver_cartelera:hover{
    font-weight: 700;
}
#pie_cartelera{
    display:inline-block;
}






/*-----------------------------------------------------------------BLOCKBUSTER-----------------------------------------------------------------------------*/






/*Este div lo usaremos para centrar el encabezado en la pantalla*/
.Encabezado_div_block{
    text-align: center;
}
/*Aquí personalizaremos nuestro encabezado*/
#Encabezado_block{
    font-family: Times New Roman,Arial;
    display:inline-block;
    padding:30px; /*Margen para que el texto "respire"*/
    border: 2px solid black;
    background-color: #D9534F; /*Fondo del contenedor*/

}
/*Este contenedor sirve para dividir los 2 contenedores hijas en 2 y que se mantengan en linea*/
.division_block{
    display:flex;
}
.reparto_block{
    width: 50%;
    text-align: center;
}
#subEncabezado_reparto_block{
    display:inline-block;
    border:2px solid black;
    padding: 5px 20px 5px 20px;
    background-color: #D9534F;
}
.sinopsis_block{
    width: 50%;
    text-align:center;
}
#subEncabezado_sinopsis_block{
    display:inline-block;
    border:2px solid black;
    padding: 5px 20px 5px 20px;
    background-color: #D9534F;
}
/*Bloque de texto que da la sinopsis sobre la pelicula*/
#descripcion_sinopsis_block{
    font-size: 20px;
    display:inline-block;
    text-align:justify;
    border: 2px solid black;
    padding:10px;
    background-color: #FAFAFA ;
}
#sub_encabezado_opinion_block{
    display:inline-block;
    border:2px solid black;
    padding: 5px 20px 5px 20px;
    background-color: #D9534F;
}
#descripcion_opinion_block{
    font-size: 20px;
    display:inline-block;
    text-align:justify;
    border: 2px solid black;
    padding:10px;
    background-color: #FAFAFA ;
}
/*Contenedor para que los nombres de los actores salgan de izq a derecha*/
.img_actores_block{
    text-align: left;
}
/*Tamaño de las fotos*/
.actores_block{
    width: 100px;
    height: 100px;
    border:2px solid white;
}
figure{
    font-weight: 700;
    font-family: arial;
    display: inline-block;
    text-align: center;
}
.img_contendor_block{
    text-align: center;
}
#subEncabezado_img_block{
    display:inline-block;
    border:2px solid black;
    background-color: #D9534F;
    padding:10px;
}
.escenas_block{
    border: 2px solid white;
    margin: 10px;
    width: 500px;
    height: 400px;
}


/*-----------------------------------------------------------------------RESEÑAS---------------------------------------------------------------------------------*/

.Encabezado_resenias{
    text-align: center;
}
#titulo_resenias{
    display:inline-block;
    border: 2px solid black;
    padding: 10px;
    background-color: #D9534F;
}
.img_resenias{
    border:2px solid white;
    height: 400px;
    float: left;
    margin-right:20px;
    width:400px;
}
.resenia{
    border-radius:10px;
    display:inline-block;
    padding:10px;
    border:2px solid black;
    background-color:#FAFAFA;
}
.puntuacion{
    transform:scale(0.6);
}
.contenedor_peli_titulo{

    text-align: center;
    display:flex;
}
.peli_titulo_resenia{
    padding:10px;
    margin:5px;
    text-align: center;
    border: 2px solid black;
    background-color: #D9534F;
}
#itemUno_Az,#itemDos_Az,#itemTres_Az,#itemCuatro_Az{
    display:block;
    padding:2px;
    margin-bottom: 0px;
}
/*Para que no genere tanto espacio en la parte de arriba del h3(estetico)*/
#encabezado_azrael{
    margin:2px;
}
dd{
    margin:10px;
}


/*-----------------------------------------------------------------------OPINION----------------------------------------------------------------------------------*/
.Encabezado_opinion{ /*Encabezado en fondo verde de la página de opinión*/
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}
.Formulario_opinion{ /*"Caja en fondo azul que contiene todas las preguntas del formulario"*/
    justify-content: center;
    border: 2px solid black; /*redondea essquinas*/
    border-radius: 25px;
    padding-left: 80px; /*Ajustes de posición*/
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 150px;
    background: rgb(97,253,244);
background: radial-gradient(circle, rgba(97,253,244,1) 0%, rgba(66,197,246,1) 49%, rgba(46,79,248,1) 100%); 
    
}

#titulo_opinion{
    display:inline-block;
    border: 2px solid black;
    background-color: #44ff95;
    padding: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
 
.checkbox-container input[type="checkbox"] {
  vertical-align: middle;
}
 
.checkbox-container label {
  display: inline-block;
  white-space: nowrap;
}
#cienciaficcion{
    margin-left: 60px
}
#accion{
    margin-left: 21px
}
