/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 feb 2025, 16:37:06
    Author     : baske
*/
/*Aqui colocaremos el color de fondo que queremos que haya en la pagina principal*/
body{
    background-color:#019BA5;
}
/*En este selector controlaremos los anchor, es decir, los hipervinculos para saltar a otras páginas*/
a{
    text-decoration: none;  /* Sin subrayado */
    color: black;            /* Color inicial */
    transition: 0.5s;/*El tiempo que tardará en cambiar de color y estilo cuando el ratón pase por encima*/
}
/*Este selector cambiara como se comporta el texto cuando el usuario pase el ratón por encima*/
a:hover{
    font-weight: 700;/*Pasará a negrita cuando el raton pase por encima*/
    font-family: arial;/*Estilo  al que cambiará el texto cuando pase el raton por encima*/
    color:#FAFAFA;/*Color al que cambiará el texto cuando pase el ratón por encima*/
}
.Encabezado{

    text-align: center;
}
/*Este selector de clase se usa para gestionar la lista y su contorno*/
.lista{
    border:2px solid black; /*El bordeado del texto con tamaño y color*/
    padding:10px; /*Espacio extra alrededor del texto para dar una mejor impresión estética*/
    margin: auto; /*Centra automaticamente el objeto en el centro de la pantalla*/
    width: 400px; /*Este sirve para ajustar el tamaño de la lista y que no se extralimite*/
    text-align: center; /*Alinea el texto en el centro de la "caja"*/
    background-color:#D9534F; /*Color de fondo de la la lista*/
}
/*Selector para controlar los items de la unica lista que hay en la pagina principal*/
li{
    padding:5px;/*Espacio de separación entre items */
    display:inline; /*Convierte el elemento en linea para poder trabajar de manera horizontal*/
    margin-bottom: 10px;
}
#Nombre_Empresa{
    position:absolute;
    display:inline;/*Cambiamos el tipo a display para poder colocar al lado el logo de nuestra "empresa"*/
}
#Bienvenida{
    text-align:center;/*Centra el texto en la pantalla*/
    padding-bottom: 10px;/*Algo de espacion por abajo para dejar "respirar" el subtitulo(estético)*/

}

/*Selector para controlar la posición del logo*/
#logo{
    margin-left:300px;
    width:100px;
    height:100px;
}